 @{  Layout = "~/Shared/_Layout.cshtml";

	@*this gets the name of the database and stores it in variable 'dbname'
	I'm tested this bit and it does return the correct database name*@
	var db1 = Database.Open("Main") ; 
	var QueryString1 = "SELECT ExperimentDatabaseName FROM Setting WHERE Id=1"; 
	var dbname = db1.QueryValue(QueryString1);

	@*Pretty much everything from here down doesn't work*@'
	var TableChoice = Request["TableChoice"];
	var db2 = Database.Open(dbname); 
	var QueryString2 = "SELECT * FROM @0";

	var data = db2.Query(QueryString2, TableChoice);
	var grid = new WebGrid(data);

}


<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Data</title>
    </head>
    <body>
		<h3>Data</h3>
		Select Table:	
			<form>
				<select name="TableChoice"> 
				<option value="@Table1Name" >@Table1Name</option>
				<option value="@Table2Name" >@Table2Name</option>
				<option value="@Table3Name" >@Table3Name</option>
				<option value="@Table4Name" >@Table4Name</option>
				<option value="@Table5Name" >@Table5Name</option>
				<option value="@Table6Name" >@Table6Name</option>
				<option value="@Table7Name" >@Table7Name</option>
				<option value="@Table8Name" >@Table8Name</option>
				<option value="@Table9Name" >@Table9Name</option>
				<option value="@Table10Name" >@Table10Name</option>
				<input type="submit" value="Submit">
				</select>
			</form>
	</body>
</html>
