@{
    
Layout = "~/Shared/_Layout.cshtml";
    
    var db = Database.Open("Main");
    var SubjectId = UrlData[0];
	if (SubjectId.IsEmpty()) {
        Response.Redirect("~/Subjects");
    }

	var Subj = db.QuerySingle("SELECT * FROM Subject WHERE Id = @0", SubjectId);
	if( IsPost && !SubjectId.IsEmpty()) {
		var deleteQueryString = "DELETE FROM Subject WHERE Id=@0";
		db.Execute(deleteQueryString, SubjectId);
		Response.Redirect("~/Subjects");
  }
 
}

<!DOCTYPE html>
<html>
	<head>
		<title>Delete Subject</title>
			<style>
				table {
					border-collapse: collapse;
				}
				table, td, th {
					border: none;
				}
			</style>
	</head>

	<body>
	  <h3>Subjects</h3>
	  <form method="post" action="" name="form">
		<p><font color="red">Are you sure you want to delete this subject?</font></p>
		  <br>
		  <input type="submit" value="Delete" /></td>

		<p> ID: @Subj.ID <br />
			First Name: @Subj.FName <br />
			Last Name: @Subj.LName <br />
			Age: @Subj.Age <br />
			Gender: @Subj.Gender <br />
			Email: @Subj.Email <br />
			Race: @Subj.Race <br />
			Country: @Subj.Country <br />
			State/Province: @Subj.StateProvince <br />
			User Defined 1: @Subj.UserDefined1 <br />
			User Defined 2: @Subj.UserDefined2 <br />
			User Defined 3: @Subj.UserDefined3 <br />

		 </form>
	</body>
</html>