@{
    
Layout = "~/Shared/_Layout.cshtml";
    
    var db = Database.Open("Main");
    var SubjectId = UrlData[0];

    if (SubjectId.IsEmpty()) {
        Response.Redirect("~/Subjects");
    }

    var Subject = db.QuerySingle("SELECT * FROM Subject WHERE ID = @0", SubjectId);
  
    if( IsPost && !SubjectId.IsEmpty()) {
    var deleteQueryString = "DELETE FROM Subject WHERE Id=@0";
    db.Execute(deleteQueryString, SubjectId);
    Response.Redirect("~/Subjects");
  }
}

<!DOCTYPE html>
<html>
<head>
    <title>Delete Subject</title>

        <style>
            table {
                border-collapse: collapse;
            }

            table, td, th {
                border: none;
            }
        </style>
</head>
<body>
  <h3>Subjects</h3>
  <form method="post" action="" name="form">
    <p><font color="red">Are you sure you want to delete this subject?</font></p>
      <br>
      <table width="600" border="0">
          <tr>
              <td><a href="~/Subjects"><button>Cancel</button></a></td>
              <td><input type="submit" value="Delete" /></td>
          </tr>
      </table>
      

    <p> ID: @Subject.ID <br />
        First Name: @Subject.FName <br />
        Last Name: @Subject.LName <br />
        Age: @Subject.Age <br />
        Gender: @Subject.Gender <br />
        Email: @Subject.Email <br />
        Race: @Subject.Race <br />
        Country: @Subject.Country <br />
        State/Province: @Subject.StateProvince <br />
        User Defined 1: @Subject.UserDefined1 <br />
        User Defined 2: @Subject.UserDefined2 <br />
        User Defined 3: @Subject.UserDefined3 <br />

     </form>
</body>
</html>