@{
    
Layout = "~/Shared/_Layout.cshtml";
    
    var db = Database.Open("Main");
    var SubjectId = UrlData[0];

	var SelectQueryString = "SELECT * FROM SubjectNote WHERE SubjectID=@0";
	db.Execute(SelectQueryString, SubjectId);
	var Subject = db.QuerySingle("SELECT * FROM Subject WHERE ID = @0", SubjectId);
		
}

<!DOCTYPE html>
<html>
	<head>
		<style>
			<link rel="stylesheet" type="text/css" href="_Style.css">
		</style>
		<title>Subject Notes</title>
	</head>
	<body>
	  <h3>Subject Notes for @Subject.FName @Subject.LName</h3>
		<a href="@Href("InsertSubjectNote", SubjectId)"><button>Add Note</button></a>
		<br><br>
		<table>
		   <thead>
			   <tr align="left">
				   <th> </th>
				   <th> </th>
				   <th>Created On</th>
				   <th>Created By</th>
				   <th>Note</th>
			</thead>
			<tbody>
				@foreach(var row in db.Query(SelectQueryString, SubjectId)){
					<tr>
						<td><a href="@Href("UpdateSubjectNote", row.Id)"><button>Edit</button></a></td>
						<td><a href="@Href("DeleteSubjectNote", row.Id)"><button>Delete</button></a></td>
						<td width="15%'">@row.CreationDate</td>
						<td width="15%">@row.CreatedBy</td>
						<td>@row.Note</td>
					</tr>
				}
			</tbody>
		</table>
	</body>
</html>